earthengine-api
xee
xarray
netCDF4
h5netcdf
geopandas
rioxarray
regionmask
dask[diagnostics]
requests
tqdm
python-dotenv
pyyaml
matplotlib
pandas
shapely
pyproj
compliance-checker
earthaccess
dataretrieval
ameriflux-api
